.cart{
    background: #FF9900;
    padding: 25px;
    opacity: 85%;
    font-size: 18px;
    position: sticky;
    top: 0;
}
.cart p:last-child{
    font-size: 17px;
    font-weight: bold;
}
.btn-clear-cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff3030;
    border-radius: 4px;
    color: #ffff;
    font-size: 18px;
    margin: 10px auto;

}